<div id="corpo">
<div class="box">
    <form>
        <fieldset id="f">
            <legend><b>Fórmulário de inscrição</b></legend>
            <br>
            <div class="inputBox">
                <input type="text" name="nome" id="nome" class="inputUser" required>
                <label for="nome" class="labelInput">Nome completo</label>
            </div>
            <br><br>
            <div class="inputBox">
                <input type="text" name="email" id="email" class="inputUser" required>
                <label for="email" class="labelInput">Email</label>
            </div>
            <br><br>
            <div class="inputBox">
                <input type="tel" name="telefone" id="telefone" class="inputUser" required>
                <label for="telefone" class="labelInput">Telefone</label>
            </div>
            <br>
            <p>Modalidade:</p><br>

            <input type="radio" id="Futebol" name="Modalidade" value="Futebol" required>
            <label for="Futebol">Futebol</label>
            <br>
            <input type="radio" id="Futsal" name="Modalidade" value="Futsal" required>
            <label for="Futsal">Futsal</label>
            <br>
            <input type="radio" id="Society" name="Modalidade" value="Society" required>
            <label for="Society">Society</label>
            <br><br>
            <label for="data_nascimento"><b>Data de Nascimento:</b></label>
            <input type="date" name="data_nascimento" id="data_nascimento" required>
            <br><br><br>
            <div class="inputBox">
                <input type="text" name="Posição" id="Posição" class="inputUser" required>
                <label for="Posição" class="labelInput">Posição</label>
            </div>
            <br><br>
            <div class="inputBox">
                <input type="text" name="Jogol onde" id="Jogol onde" class="inputUser" required>
                <label for="Jogol onde" class="labelInput">Jogou aonde?</label>
            </div>
            <br><br>
            <div class="inputBox">
                <input type="text" name="Cidade" id="Cidade" class="inputUser" required>
                <label for="Cidade" class="labelInput">Cidade</label>
            </div>
            <br><br>
            <div class="inputBox">
                <input type="text" name="Rua" id="Rua" class="inputUser" required>
                <label for="Rua" class="labelInput">Rua</label>
            </div>
            <br><br>
            <div class="inputBox">
                <input type="text" name="Bairro" id="Bairro" class="inputUser" required>
                <label for="Bairro" class="labelInput">Bairro</label>
            </div>
            <br><br>
            <input type="submit" name="submit" id="submit">
        </fieldset>
    </form>
    
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
