<div id="corpo">
    <br><br><br><br>
    
<h2><b><p align="center">Conceitos de um Formulario</p></b></h2><br>
<i>

    <p align="center">
Um conceito de formulário é trazido por Araújo (2001, p.  96), o qual afirma  que  este  “é  um  veículo  que  transporta informações  de  uma  pessoa  para outra,  de  uma  unidade  para  outra,  ou  de  uma  empresa  para outra”.<br>
 Na visão de Marques e Oda (2012), o formulário é um instrumento que atua como base para execução de processos organizacionais, através do armazenamento de informações. Já segundo Paz (2015), formulário é um documento pré-estruturado, possuindo campos para preenchimento de informações e dados, dispostos e organizados para um determinado fim.<br>
 A autora fala ainda que formulários são utilizados de modo a facilitar o processo de comunicação, registro e controle de atividades de uma organização.<br>

A importância da utilização de formulários é trazida por Roldan (2010) como fundamental para a sobrevivência de uma empresa, para coleta de dados e posterior acesso à estes. O autor destaca também que formulários são utilizados para cumprir exigências legais, além de propiciar padronização interna, auxiliando no controle de processos e tarefas dentro dos fluxos organizacionais.<br>

O autor destaca ainda que um formulário deverá ser criado quando possuir uma finalidade que justifique seu uso, podendo ser elemento chave para sanar deficiências no processo administrativo. A organização deve avaliar a extensão e a necessidade de determinados campos em seus formulários, utilizando de artifícios como fusão de formulários ou supressão de campos, a fim de aperfeiçoar o processo.<br>

Uma classificação de formulários é trazida por Paz (2015), que categoriza os formulários em três grupos: Formulários Planos:campos impressos e preenchidos em papel; Formulários Contínuos: elaborados em papel, porém preenchidos em meio eletrônico; e por fim, formulários Eletrônicos: realizados em meio eletrônico, integralmente.<br>
</p>
</i>
   
<br><br><br><br><br><br><br><br><br><br><br>

</div>
