<div id="corpo">
    <br><br><br>
  <h1><p align="center"><b>Principais Propriedades do Css</b></p></h1><br>
    <br>

<i>As folhas de estilo são fundamentais para estilização do texto em uma página. Com as regras CSS podemos mudar sua cor, tamanho, fonte, entre muitas outras características.
<h1><p align="center"><b>Eis as principais propriedades CSS para texto:</b></p></h1><br>
<li>color: muda a cor do texto. Ex: color: #FF0000;.</li>
<li>font-family: define uma lista de fontes para ser utilizada no elemento (e seus herdeiros).<br>
<li>font-size: muda o tamanho do texto. Podemos utilizar unidades como px (pixels), em (unidade relativa), %, pt (pontos), entre outras. Ex: font-size: 20px.</li>
<li>font-weight: muda o peso da fonte. Valores incluem bold e normal. Ex: font-weight: bold;</li>
<li>font-style: muda o estilo da fonte. Valores incluem italic e normal. Ex: font-style: italic;.</li>
<li>text-decoration: muda a decoração do texto. Valores incluem underline e none (por ex: para retirar o sublinhado de links). Ex: text-decoration: underline;.</li>
<li>line-height: muda a altura de cada linha, ou entrelinha. Ex: line-height: 1.5em; (1.5 vezes o tamanho da fonte).</li>
<li>text-indent: muda a indentação da primeira linha de um bloco de texto. Ex: text-indent: 2em; (indentação de 2 vezes o tamanho da fonte na primeira linha do texto).</li>
<li>text-transform: muda a "caixa" do texto. Ex: text-transform: uppercase;.</li>
<li>font-variant: muda a variante da fonte. Valores incluem normal e small-caps (versalete). Ex: font-variant: small-caps;.</li>
<li>word-spacing: determina o espaçamento entre palavras. Ex: word-spacing: 5px;</li>
<li>letter-spacing: determina o espaçamento entre letras. Ex: letter-spacing: 2px;</li><br>
<br><br><br><br><br><br><br>
</i>