<div id="corpo">
    <br><br>
<div class="container">
    <div class="form">
        <form action="#">
            <div class="form-header">
                <div class="title">
                    <h1>Formulário para ingressar no time</h1>
                </div>
            </div>

            <div class="input-group">
                <div class="input-box">
                    <label for="firstname">Nome completo</label>
                    <input id="firstname" type="text" name="firstname" placeholder="Digite seu nome" required>
                </div>

                <div class="input-box">
                    <label for="lastname">Nome da sua mãe</label>
                    <input id="lastname" type="text" name="monname" placeholder="Digite o nome da sua mãe" required>
                </div>
                <div class="input-box">
                    <label for="email">E-mail para contato</label>
                    <input id="email" type="email" name="email" placeholder="Digite seu e-mail" required>
                </div>

                <div class="input-box">
                    <label for="number">Celular</label>
                    <input id="number" type="tel" name="number" placeholder="(xx) xxxx-xxxx" required>
                </div>

                <div class="input-box">
                    <label for="password">Posição</label>
                    <input id="password" type="text" name="text" placeholder="Digite sua posição" required>
                </div>


                <div class="input-box">
                    <label for="confirmPassword">Idade</label>
                    <input id="confirmPassword" type="idade" name="number" placeholder="Digite sua idade" required>
                </div>

                <div class="input-box">
                    <label for="number">Altura</label>
                    <input id="number" type="alt" name="number" placeholder="Digite sua altura" required>
                </div>

                <div class="input-box">
                    <label for="number">Peso</label>
                    <input id="number" type="alt" name="number" placeholder="Digite seu peso" required>
                </div>


            </div>
            <div class="gender-inputs">
                <div class="gender-title">
                    <h6>Gênero</h6>
                </div>

                <div class="gender-group">
                    <div class="gender-input">
                        <input id="female" type="radio" name="gender">
                        <label for="female">Feminino</label>
                    </div>

                    <div class="gender-input">
                        <input id="male" type="radio" name="gender">
                        <label for="male">Masculino</label>
                    </div>
                </div>
                
            </div>

        </form>
    </div>
</div>
<br><br><br>
</div>