
    <mat-toolbar>
        <app-menu></app-menu>
      &NonBreakingSpace; &NonBreakingSpace;
     
    <span>   Kawany</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <a href="https://kawany.netlify.app/">
     <mat-icon>home</mat-icon>
    </a>
    </button>&NonBreakingSpace;&NonBreakingSpace;
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
     <mat-icon>account_circle</mat-icon>
   </button>
  </mat-toolbar>

