<div id="corpo">
    <br><br><br>
<b><'input></b> – Define um campo de entrada de dados;<br><br>
<b><'textarea></b> – Define uma área de texto, podendo conter diversas linhas de texto;<br><br>
    <b><' button></b> – Define um botão;<br><br>
    <b><'select></b> – Define uma lista selecionável, também conhecida como drop-down;<br><br>
        <b><'option></b> – Define uma lista de opções dentro de um drop-down;<br><br>
            <b><'optgroup></b> – Define um grupo de opções;<br><br>
                <b><'fieldset></b> – Define um grupo de campos;<br><br>
                    <b><'label></b> – Define um rótulo ou legenda para um campo ou controle do formulário;<br><br>
                        <b><'output></b> – Define elementos de saída para o formulário;<br><br>
                            <b><'legend></b> – Define um título para o conjunto de campos.<br><br>
                                Além dessas tags de elementos de formulário HTML, nada impede de utilizar outras tags dentro da tag  
                                    <b><'form></b>. Por exemplo: podemos utilizar dentro do 
                                        <b><'/form></b> as tags 
                                            <b><'div> <'/div>, <'p> <'/p></b>, entre outras.
     <br><br><br><br>
     <b>OBS: Os comandos só funcionaram sem o ( ' ).</b>
     <br><br><br><br><br>
    </div>
