<div id="corpo">
    <br><br>
  <h1><p align="center"><b>Conceitos de css</b></p></h1>
    
  <br>
  <p align="center">
    <i>
O Cascading Style Sheets (CSS) é uma "folha de estilo" composta por “camadas” e utilizada para definir a apresentação (aparência) em páginas da internet que adotam para o seu desenvolvimento
 linguagens de marcação (como XML, HTML e XHTML).<br>
O CSS define como serão exibidos os elementos contidos no código de uma página da internet e sua maior vantagem é efetuar a separação entre o formato e o conteúdo de um documento.<br>
</i>
</p>
<br><h1><p align="center"><b>Por que o CSS foi criado?</b></p></h1><br>
<p align="center">
    <i>
Com a evolução dos recursos de programação as páginas da internet
 estavam adotando cada vez mais estilos e variações para deixá-las mais elegantes e atrativas para os usuários.<br>
Com isto, linguagens de marcação simples como o HTML, que era destinada para apresentar os conteúdos também precisou ser aprimorada.<br>


Foram criadas novas tags e atributos de estilo para o HTML e
 em resumo ele passou a exercer tanto a função de estruturar o conteúdo quanto de apresentá-lo para o usuário final.<br> 
Entretanto, isto começou a trazer um problema para os desenvolvedores, pois não havia uma forma de definir, por exemplo, um padrão para todos os cabeçalhos ou conteúdos em diversas páginas.<br>
Ou seja, as alterações teriam que ser feitas manualmente, uma a uma.<br/>

A partir destas complicações, nasceu o CSS.<br>
 Primariamente, foi desenvolvido para habilitar a separação do conteúdo e formato de um documento (na linguagem de formatação utilizada) de sua apresentação, incluindo elementos como cores, formatos de fontes e layout.<br>
 Esta separação proporcionou uma maior flexibilidade e controle na especificação de como as características serão exibidas, permitiu um compartilhamento de formato e reduziu a repetição no conteúdo estrutural de uma página.
</i>
</p>
<br><br><br><br><br>
  </div> 