<body>
<div id="container">       
    <input id="foto1" type="radio" name="grupo" checked>
   		<label for="foto1"><img  src="../../../../assets/img/profile2.jpg"></label>
		<input id="foto2" type="radio" name="grupo">
        <label for="foto2"><img src="../../../../assets/img/profile3.jpg"></label>
		<input id="foto3" type="radio" name="grupo">
        <label for="foto3"><img src="../../../../assets/img/profile4.jpg"></label>
		<input id="foto4" type="radio" name="grupo">
		<label for="foto4"><img src="../../../../assets/img/profile5.jpg"></label>
<div class="principal">
 <div class="slide">         
     <img id="img1" src="../../../../assets/img/profile2.jpg">
     <img id="img2" src="../../../../assets/img/profile3.jpg">
     <img id="img3" src="../../../../assets/img/profile4.jpg">
     <img id="img4" src="../../../../assets/img/profile5.jpg">
 </div>
</div>
</div>
</body>