<mat-list>
    <mat-list-item><b>Atividades 1º Semestre</b></mat-list-item>

            <mat-list-item><b>&NonBreakingSpace;&NonBreakingSpace; &NonBreakingSpace;   Css</b></mat-list-item>
<mat-divider></mat-divider>


    <button mat-menu-item>    
        <a routerLink="/css">
    <mat-list-item>Conceitos</mat-list-item>
</a>
</button>

<mat-divider></mat-divider>

<button mat-menu-item>    
    <a routerLink="/css1">
<mat-list-item>Propriedades</mat-list-item>
</a>
</button>

<mat-divider></mat-divider>

<button mat-menu-item>    
    <a routerLink="/css2">
<mat-list-item>Exemplos</mat-list-item>
</a>
</button>

<mat-divider></mat-divider>

<mat-list-item><b>&NonBreakingSpace;&NonBreakingSpace; &NonBreakingSpace;   Formulário</b></mat-list-item>


<button mat-menu-item>    
    <a routerLink="/form">
<mat-list-item>Componetes</mat-list-item>
</a>
</button>

<mat-divider></mat-divider>

<button mat-menu-item>
    <a routerLink="/form1">
<mat-list-item>Conceitos</mat-list-item>
</a>
</button>
<mat-divider></mat-divider>

<mat-list-item><b> 5 Exemplos de Formulários</b></mat-list-item>

<button mat-menu-item>
    <a routerLink="/form2">
    <mat-list-item>1º</mat-list-item>
</a>
</button>
    <mat-divider></mat-divider>
    
    <button mat-menu-item>
        <a routerLink="/form3">
        <mat-list-item>2º</mat-list-item>
    </a>
    </button>
        <mat-divider></mat-divider>

        <button mat-menu-item>
            <a routerLink="/form4">
            <mat-list-item>3º</mat-list-item>
        </a>
        </button>
            <mat-divider></mat-divider>

            <button mat-menu-item>
                <a routerLink="/form5">
                <mat-list-item>4º</mat-list-item>
            </a>
            </button>
                <mat-divider></mat-divider>

                <button mat-menu-item>
                    <a routerLink="/form6">
                    <mat-list-item>5º</mat-list-item>
                </a>
                </button>

                <mat-list-item><b> Projeto Angular</b></mat-list-item>

                <button mat-menu-item>
                    <a routerLink="/angular">
                    <mat-list-item>Formulário</mat-list-item>
                </a>
                </button>
                <button mat-menu-item>
                    <a routerLink="/angular1">
                    <mat-list-item>Slide</mat-list-item>
                </a>
                </button>


  </mat-list>
